<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!-- Notre router est un array donc si on veus cette adresse  -->
        <!-- /home/kkchose/kkschosenew/3 ==>  [routerLink]="['home', 'kkchose', 'kkschosenew', 'id']"  -->
        <a class="nav-link" [routerLink]="['home']" routerLinkActive="router-link-active">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['shop']" routerLinkActive="router-link-active">Shop</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['blog']" routerLinkActive="router-link-active">Blog</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>