<h1 class="text-center">Formulaire</h1>
<hr>

<form [formGroup]="formData" (submit)="saveData(formData.value)">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="prenom">Prenom</label>
    <div class="col-sm-10">
      <input class="form-control" 
              type="text" 
              placeholder="Ex: Michael"
              formControlName="prenom">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="nom">Nom</label>
    <div class="col-sm-10">
      <input class="form-control" 
              type="text" 
              placeholder="Ex: Benavides"
              formControlName="nom">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="email">Email</label>
    <div class="col-sm-10">
      <input class="form-control" 
              type="Email" 
              placeholder="Ex: xxxxx@xxx.com"
              formControlName="email">
    </div>
  </div>

  <!-- Date-Picker -->
    <app-datepicker-popup [DateForm]="formData" [NameFormControl]="'date'" [LabelForm]="'Date'"></app-datepicker-popup>
  <!-- /Fin Date-Picker -->
  
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Envoyer</button>
  </div>
</form>

<div *ngIf="flag">
  <h1>flag est true</h1>
</div>