<div class="form-group row" [formGroup]="DateForm">
  <!-- label -->
  <label class="col-sm-2 col-form-label" for="{{ NameFormControl }}">{{ LabelForm }}</label>
  <!-- /fin label -->
  <!-- input date-Picker -->
  <div class="col-sm-10 input-group">
    <input class="form-control" 
        placeholder="yyyy-mm-dd" 
        name="dp" 
        [(ngModel)]="dateChoisi" 
        formControlName="{{NameFormControl}}"
        ngbDatepicker #d="ngbDatepicker">

    <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
    </div>
  </div>
  <!-- /fin input date-Picker -->
</div>